header {
    display: flex;
    align-items: center;

    height: 3.5rem;
    width: 100%;
}

div {
    width: 50%;
    display: flex;
    align-items: center;
}

.d2 {
    justify-content: flex-end;
}

img {
    height: 2.5rem;
    width: 2.5rem;
    margin: 15px;
}

h1 {
    font-size: 2rem;
    margin: 15px;
    cursor: pointer;
    text-decoration: underline;
}

ul {
    margin: 15px;
}

li {
    list-style: none;
    display: inline;
    margin : 0 10px;
    font: 300;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bolder;
}