div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.searchbar {
    height: 2.5rem;
    width: 30rem;
}

.btn {
    height: 2.5rem;
}